<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataFilm" class="mat-elevation-z8" matSort matPaginator>

    <!-- Film ID Column -->
    <ng-container matColumnDef="film_id">
      <th mat-header-cell *matHeaderCellDef> Film ID </th>
      <td mat-cell *matCellDef="let film; let i=index"> {{ i + 1 }} </td>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let film"> {{ film.title }} </td>
    </ng-container>

    <!-- Actors Column -->
    <ng-container matColumnDef="actors">
      <th mat-header-cell *matHeaderCellDef> Actors </th>
      <td mat-cell *matCellDef="let film"> {{ film.list_actor }} </td>
    </ng-container>

    <!-- Header Row -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <!-- Data Row -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!-- Paginator -->
  <mat-paginator [pageSizeOptions]="[6, 16, 30, 100]" showFirstLastButtons></mat-paginator>
</div>
